@import "tailwindcss";

@theme inline {
  --color-eq-dark: #191826;
  --color-eq-cyan: #66e2dc;
  --color-eq-orange: #fa7453;
  --color-eq-mustard: #ffb964;
  --color-eq-ivory: #fcfaf9;
  --font-sans: var(--font-eq);
}

body {
  background-color: var(--color-eq-ivory);
  color: var(--color-eq-dark);
  font-family: var(--font-sans);
}